<div class="cont">
	<div id="" class="" onclick="" style="height: 200px; overflow: hidden">
		<img src="./assets/img/house_banner.png" width="100%" />
	</div>
	<div class="container mt-md-4">
		<div class="row mb-md-4" style="background-color: #1b4984">
			<nav
				aria-label="breadcrumb"
				class="d-flex justify-content-md-center"
			>
				<ol class="breadcrumb pt-md-2">
					<li class="breadcrumb-item">
						<a
							class="text-decoration-underline"
							style="color: #eeee22"
							href="#"
							>DoIT</a
						>
					</li>
					<li
						class="breadcrumb-item active"
						aria-current="page"
						style="color: #eeee22"
					>
						Calculateur impot
					</li>
				</ol>
			</nav>
		</div>
		<div style="text-align: center">
			<h2 style="color: rgba(31, 28, 28, 0.692)">
				SIMULATEUR IFPB ET ROM<br> 
				(Montant en Ariary &agrave; titre indicatif)
			</h2>
		</div>
		<mat-divider class="mb-md-3"></mat-divider>

		<form
			action=""
			[formGroup]="this.pcnivForm"
			(ngSubmit)="onSubmitForm()"
		>
			<header class="mb-md-2">
				<!-- <div
					class="row header form-group d-flex justify-content-around"
				>
					<div class="col-md-1">
						<a
							class="text-decoration-underline"
							href="https://cua.mg"
						>
							<img
								src="./assets/img/cua_logo_def.png"
								alt=""
								style="width: 100%; height: auto"
							/>
						</a>
					</div>
					<div
						class="col-md-3 d-inline-flex justify-content-center align-items-center"
					>
						<h4 class="lh-1 text-center">
							COMMUNE URBAINE D'ANTANANARIVO <br />
							SERVICE DE LA FISCALITE DES <br />
							DIRECTIONS DES RESSOURCES FINANCIERES
						</h4>
					</div>
				</div> -->
			</header>
			<div class="row border pb-md-3" formGroupName="immeubleSisForm">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12 mt-md-0 mb-md-0">
							<p class="pb-md-0 pt-md-3">
								<b>Toerana misy ny trano
									<i>(Immeuble sis)</i>
								</b>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mt-md-2 fw-bold d-flex flex-row">
							<label class="p-md-2" for="faritra"
								>Faritra <i>(Quartier)</i> :
							</label>
							<select
								class="form-select"
								name="faritra"
								id="faritra"
								formControlName="quartierInput"
								style="width: fit-content"
							>
								<option id="populaire" value="populaire">
									Populaire 
								</option>
								<option
									id="intermediaire"
									value="intermediaire"
								>
									Interm&eacute;diaire
								</option>
								<option id="industriel" value="industriel">
									Industriel
								</option>
								<option id="residentiel" value="residentiel">
									R&eacute;sidentiel
								</option>
								<option id="commercial" value="commercial">
									Commercial
								</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ps-md-2">
							<div class="row">
								<div class="col-md-10">Populaire (Kartie be mponina)</div>
								<div class="col-md-2">1</div>
							</div>
							<div class="row">
								<div class="col-md-10">Interm&eacute;diaire (Kartie tsy dia be mponina)</div>
								<div class="col-md-2">2</div>
							</div>
							<div class="row">
								<div class="col-md-10">Industriel (Kartie betsaka orinasa sy indostria)</div>
								<div class="col-md-2">3</div>
							</div>
							<div class="row">
								<div class="col-md-10">R&eacute;sidentiel (Kartie mihaja)</div>
								<div class="col-md-2">4</div>
							</div>
							<div class="row">
								<div class="col-md-10">Commercial (Kartie betsaka toeram-pivarotana)</div>
								<div class="col-md-2">5</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div
				class="row border border-dark p-md-2"
				formGroupName="caractImmeubleForm"
			>
				<div class="row">
					<div class="col-md-6">
						<p class="fw-bold">
							Mombamomba ny trano
							<i>(Caract&eacute;ristique de la construction)</i>
						</p>
						<p class="fw-normal">
							<span class="text-decoration-underline"
								>Akora nanaovana ny trano</span><i> (Consistance de la construction) </i>
						</p>
					</div>
				</div>
				<div class="row mt-md-2 d-flex d-flex-row">
					<div
						class="col-md-3 d-flex d-flex-row"
						style="width: fit-content"
					>
						<div
							class="col-md-6 pe-md-2"
							style="width: fit-content"
						>
							<label class="fw-normal" for="">
								<span class="text-decoration-underline"
									>Zoro-trano</span
								><br />
								(Ossature)
							</label>
						</div>
						<div class="col-md-6" style="width: fit-content">
							<select
								name="ossature"
								id="ossature"
								formControlName="ossatureInput"
								class="form-select"
							>
								<option value="confondue">Tsy miavaka</option>
								<option value="cuite">Biriky Tanimanga</option>
								<option value="beton">B&eacute;ton arm&eacute;</option>
								<option value="metallique">
									M&eacute;tallique (Vy)
								</option>
							</select>
						</div>
					</div>
					<div
						class="col-md-3 d-flex d-flex-row"
						style="width: fit-content"
					>
						<div
							class="col-md-6 pt-md-2"
							style="width: fit-content"
						>
							<span class="text-decoration-underline"
								>Rindrina <i>(Mur)</i> :</span
							>
						</div>
						<div
							class="col-md-6 ps-md-2"
							style="width: fit-content"
						>
							<select
								name="mur"
								id="mur"
								formControlName="murInput"
								class="form-select"
							>
								<option value="bois">Hazo (en bois)</option>
								<option value="batue">
									Trano tany (Terre battue)
								</option>
								<option value="presse">
									Biriky tany (Press&eacute;e)
								</option>
								<option value="cuite">
									Biriky tanimanga (cuite)
								</option>
								<option value="parpaing">Parpaing</option>
								<option value="vitre">Fitaratra (Vitre)</option>
								<option value="autres">Hafa</option>
							</select>
						</div>
					</div>
					<div
						class="col-md-3 d-flex d-flex-row"
						style="width: fit-content"
					>
						<div
							class="col-md-6 pt-md-2"
							style="width: fit-content"
						>
							<span class="text-decoration-underline"
								>Lalotra <i>(Enduit) </i></span
							>
						</div>
						<div
							class="col-md-6 ps-md-2"
							style="width: fit-content"
						>
							<select
								name="enduit"
								id="enduit"
								formControlName="enduitInput"
								class="form-select"
							>
								<option value="pas">Tsy milalotra</option>
								<option value="tany">Tany</option>
								<option value="batard">B&acirc;tard</option>
								<option value="jointoyer">Joint toyer</option>
								<option value="ciment">Ciment</option>
							</select>
						</div>
					</div>
					<div
						class="col-md-3 d-flex d-flex-row"
						style="width: fit-content"
					>
						<div
							class="col-md-5 pt-md-2"
							style="width: fit-content"
						>
							<span class="text-decoration-underline"
								>Varavaram-pitaratra</span
							>
						</div>
						<div
							class="col-md-7 ps-md-2"
							style="width: fit-content"
						>
							<select
								name="porte_vitre"
								id="porte_vitre"
								formControlName="vitreInput"
								class="form-select"
							>
								<option value="sans">Tsy misy</option>
								<option value="hazo">Hazo</option>
								<option value="vy">Vy</option>
								<option value="alu">Aluminium</option>
							</select>
						</div>
					</div>
					<div
						class="col-md-3 d-flex d-flex-row"
						style="width: fit-content"
					>
						<div
							class="col-md-4 pe-md-1"
							style="width: fit-content"
						>
							<span class="text-decoration-underline"
								>Rindrina<br />
								Miloko</span
							>
						</div>
						<div class="col-md-1">
							<input
								type="checkbox"
								name="couleur_mur"
								id="couleur_mur"
								formControlName="couleurMurInput"
								class="form-check-input"
							/>
						</div>
					</div>
				</div>
				<div
					class="row m-md-1 mt-md-3 d-flex d-flex-row justify-content-end"
				>
					<div class="col-md-4" style="width: fit-content">
						<span class="text-decoration-underline"
							>Grille de<br />
							Protection <br />
							Ou Rideau m&eacute;tallique</span
						>
					</div>
					<div class="col-md-1 ps-md-0" style="width: fit-content">
						<input
							type="checkbox"
							name="grille"
							id="grille"
							formControlName="grilleInput"
							class="form-check-input"
						/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3" style="width: fit-content">
						<div class="row d-flex d-flex-row">
							<div
								class="col-md-6 pt-md-2"
								style="width: fit-content"
							>
								<label class="fw-normal" for="toiture">
									<span class="text-decoration-underline"
										>Tafo (Toiture) :</span
									><br />
								</label>
							</div>
							<div
								class="col-md-6 ps-md-2"
								style="width: fit-content"
							>
								<select
									name="toiture"
									id="toiture"
									formControlName="toitureInput"
									class="form-select"
								>
									<option value="chaume">
										Bozaka (Chaume)
									</option>
									<option value="tuile">
										Tanimanga (Tuile)
									</option>
									<option value="tole">Fanitso (T&ocirc;le)</option>
									<option value="fibrociment">
										Fibro-ciment
									</option>
									<option value="ardoise">Ardoise</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-3 pt-md-2">
						<div class="row d-flex d-flex-row">
							<div class="col-md-10" style="width: fit-content">
								<label class="fw-normal" for="accessibilite">
									<span class="text-decoration-underline"
										>Tongan'ny fiara ve ?</span
									><br />(Accessibilit&eacute; par voiture)
								</label>
							</div>
							<div class="col-md-1 form-check">
								<input
									type="checkbox"
									name="accessibilite"
									id="accessibilite"
									formControlName="accessibleInput"
									class="form-check-input"
								/>
							</div>
						</div>
					</div>
					<div class="col-md-4 pt-md-2">
						<div class="row d-flex d-flex-row">
							<div class="col-md-10" style="width: fit-content">
								<label class="fw-normal" for="accessibilite">
									<span class="text-decoration-underline"
										>Amoron-dalana ve?</span
									><br />
								</label>
							</div>
							<div class="col-md-1 form-check">
								<input
									type="checkbox"
									name="premier_plan"
									id="premier_plan"
									formControlName="premierPlanInput"
									class="form-check-input"
								/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="row d-flex flex-row mb-md-2 mt-md-4">
						<div
							class="offset-md-5 col-md-1"
							style="width: fit-content"
						>
							<span class="text-decoration-underline fs-4"
								>Zava-misy :</span
							>
						</div>
						<div class="col-md-1" style="width: fit-content">
							Eny = 1, Tsia = 0
						</div>
					</div>
					<div class="row">
						<div
							class="col-md-3 pt-md-2 d-flex d-flex-row align-items-center"
						>
							<div class="col-md-10" style="width: fit-content">
								<label class="fw-normal" for="nb_floor">
									<span class="text-decoration-underline"
										>Isan'ny rihana</span
									><br />(Nombre d'&eacute;tages)
								</label>
							</div>
							<div class="col-md-1 fw-normal">
								<input
									type="number"
									name="nb_floor"
									id="nb_floor"
									formControlName="nbFloorInput"
									min="0"
									class="form-control"
									style="width: 65px"
								/><br />
							</div>
						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-8 me-md-1">
									<label class="fw-normal" for="puit">
										<span class="fw-normal"
											>Fatsakana (puit)</span
										>
									</label>
								</div>
								<div class="col-md-1 form-check">
									<input
										type="checkbox"
										name="puit"
										id="puit"
										formControlName="puit1Input"
										class="form-check-input"
									/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8 me-md-1">
									<label class="fw-normal" for="chateau_eau">
										<span class="fw-normal"
											>Siniben-drano (ch&acirc;teau d'eau)</span
										>
									</label>
								</div>
								<div class="col-md-1 form-check">
									<input
										type="checkbox"
										name="chateau_eau"
										id="chateau_eau"
										formControlName="chateauInput"
										class="form-check-input"
									/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8 me-md-1">
									<label class="fw-normal" for="garage">
										<span class="fw-normal">Garazy</span>
									</label>
								</div>
								<div class="col-md-1 form-check">
									<input
										type="checkbox"
										name="garage"
										id="garage"
										formControlName="garage1Input"
										class="form-check-input"
									/>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="row">
								<div class="col-md-4 me-md-4">
									<label class="fw-normal" for="tamboha">
										<span class="fw-normal">Tamboho</span>
									</label>
								</div>
								<div class="col-md-1 form-check">
									<input
										type="checkbox"
										name="tamboha"
										id="tamboha"
										formControlName="clotureInput"
										class="form-check-input"
									/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 me-md-4">
									<label class="fw-normal" for="jardin">
										<span class="fw-normal">Zaridaina</span>
									</label>
								</div>
								<div class="col-md-1 form-check">
									<input
										type="checkbox"
										name="jardin"
										id="jardin"
										formControlName="jardin1Input"
										class="form-check-input"
									/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 me-md-4">
									<label class="fw-normal" for="piscine">
										<span class="fw-normal">Piscine</span>
									</label>
								</div>
								<div class="col-md-1 form-check">
									<input
										type="checkbox"
										name="piscine"
										id="piscine"
										formControlName="piscine1Input"
										class="form-check-input"
									/>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-7">
									<label class="fw-normal" for="terrain">
										<span class="fw-normal"
											>Terrain de tennis</span
										>
									</label>
								</div>
								<div class="col-md-1 form-check">
									<input
										type="checkbox"
										name="terrain"
										id="terrain"
										formControlName="tennisInput"
										class="form-check-input"
									/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-7">
									<label class="fw-normal" for="pylone">
										<span class="fw-normal">Pyl&ocirc;ne</span>
									</label>
								</div>
								<div
									class="col-md-1 form-check"
									style="width: fit-content"
								>
									<input
										type="checkbox"
										name="pylone"
										id="pylone"
										class="form-check-input"
										formControlName="pylone1Input"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br />
			<!-- <h5>
				Ny hofenoina ao amin'ny efajoro 5-1) dia ny momba ny ampahan'ny
				ipetrahana na ampiasana ny trano : <br />
				(i) mahakasika ny rihana iray, <br />
				(ii) honenanna na ampiasain'ny olona moraly iray (ankohonana
				tompon-trano, mpanofa trano na olon-kafa, fikambanana, orinasa)
				<br />
				(iii) fampiasa iray (fonenana na birao na fivarotana na
				fivavahana na sekoly,...). <br />
				Mifindra ao amin'ny efajoro 5-2) avy hatrany raha vao miova ny
				iray amin'ireo (i), (ii) na (iii), ary atao amin'ny intercalaire
				efajoro 5-3), efajoro 5-4) ... raha mbola misy tsy tafiditra.
			</h5> -->
			<div class="row" formArrayName="elements">
				<div
				(change)="onGlobalChange()"
					*ngFor="let _ of elements.controls; let i = index"
					class="mb-md-1"
				>
					<div class="pt-md-1">
						<div
							class="col-md-12 d-flex flex-row"
							style="align-items: center"
						>
							<mat-divider class="hrule me-md-2"></mat-divider>

							<button
								*ngIf="i > 0"
								(click)="onDelForm(i)"
								style="font-size: 13px; color: crimson"
								type="button"
								mat-raised-button
							>
								<mat-icon> backspace </mat-icon>
								Esorina
							</button>
						</div>
					</div>
					<div
						class="row pt-md-2 mt-md-2 border border-dark"
						[formGroupName]="i"
					>
						<div class="row">
							<div class="col-md-5">
								<p class="fw-bold">
									{{ i + 1 }}) Faritra ipetrahana na
									ampiasaina
									<i>(Niveau occup&eacute;)</i>
								</p>
							</div>
							<div class="col-md-1" style="width: fit-content">
								<input
									type="number"
									name="rihana"
									id="rihana"
									min="0"
									formControlName="nivOcc"
									style="width: 60px"
									class="form-control"
								/>
							</div>
							<div class="col-md-4 pt-md-2 fst-italic">
								(rihana ambany = 0, rihana 1 = 1, rihana 2=2...)
							</div>
						</div>
						<div class="row mt-md-3 mb-md-3">
							<div
								class="col-md-3 d-flex d-flex-row"
								style="width: fit-content"
							>
								<label
									class="pe-md-2 fw-normal"
									for="occupant
								"
								>
									Ny mipetraka (Occupant)
								</label>

								<select
									name="occupant"
									id="occupant"
									formControlName="typeOccupantInput"
									class="form-select"
									(change)="onChangeOccupant(i)"
									#occupant
								>
									<option value="1">
										Tompony (Propri&eacute;taire)
									</option>
									<option value="2">
										Mpanofa (Locataire)
									</option>
									<option value="3">Olon-kafa (Tiers)</option>
								</select>
							</div>
							<div class="col-md-1">
								Tompony 1 <br />(Propri&eacute;taire)
							</div>
							<div class="col-md-1">
								Mpanofa 2 <br />(Locataire)
							</div>
							<div class="col-md-1">
								Olon-kafa 3 <br />(Tiers)
							</div>
						</div>
						<div class="row">
							<div
								class="col-md-5 offset-md-1 d-flex d-flex-row pb-md-2"
								style="align-items: center"
							>
								<label class="fw-normal pe-md-2" for="hofany">
									Hofany : <br />
									(isam-bolana)
								</label>
								<input
									type="number"
									name="hofany"
									id="hofany"
									style="width: 120px; height: 1.4vw"
									formControlName="loyerInput"
									value="0"
									class="form-control"
									min="0"
									matTooltip="HOFAN-TRANO"
									(input)="onChangeLoyerInput(i)"
									#hofany
								/>
								<b class="ps-md-1 pe-md-2">Ar</b>
								<div
									*ngIf="hofany.value==='0' && occupant.value==='2'"
									id="alert"
									class="alert alert-danger pt-md-0 pb-md-0 mb-md-0"
									role="alert"
									style="font-size: 0.8vw"
								>
									<input type="hidden" value="true" (insit)="disabledSubmitBtn">
									<p class="mb-md-0">
										HAMARINO NY HOFAN-TRANO
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div
								class="offset-md-4 col-md-3 border border-dark border-bottom-0 border-end-0"
							>
								<p>
									<b>Efitra lehibe</b>
									<i> (Pi&egrave;ces principales)</i> <br />
									Izay efitra ankoatry ny efitra fanampiny
								</p>
							</div>
							<div
								class="col-md-3 border border-dark border-bottom-0"
							>
								<b>Efitra fanampiny </b
								><i>
									(Pi&egrave;ces annexes) <br />
									Lakozia na dosy, WC, lalan-tsara,
									d&eacute;barras</i
								>
							</div>
						</div>
						<div class="row mb-md-2">
							<div
								class="offset-md-1 col-md-3 pt-md-3 border border-dark border-end-0 text-md-end"
							>
								<label class="fw-normal fst-italic" for="pieces"
									>Isany (nombre)
								</label>
							</div>
							<div
								class="col-md-3 d-flex flex-row border border-dark border-end-0"
							>
								<div class="pt-md-2 pb-md-2">
									<input
										type="number"
										name="pieces"
										id="pieces"
										class="form-control"
										min="1"
										style="width: 70px"
									/>
								</div>
								<div class="pt-md-3 ps-md-2">pi&egrave;ces</div>
							</div>
							<div
								class="col-md-3 d-flex flex-row border border-dark"
							>
								<div class="pt-md-2">
									<input
										type="number"
										name="pieces1"
										id="pieces1"
										class="form-control"
										min="1"
										style="width: 70px"
									/>
								</div>
								<div class="pt-md-3 ps-md-2">pi&egrave;ces</div>
							</div>
						</div>
						<div class="row">
							<div
								class="offset-md-1 col-md-3 pb-md-2 border border-dark border-end-0 text-md-end"
							>
								<label
									class="fw-normal fst-italic pt-md-2"
									for="superficie"
									>Habeny manontolo<br />(Superficie en
									m<sup>2</sup>)
								</label>
							</div>

							<div
								class="col-md-3 d-flex flex-row pt-md-2 pb-md-2 border border-dark border-end-0"
							>
								<input
									type="number"
									name="superficie"
									id="superficie"
									formControlName="surfaceInput"
									min="1"
									class="form-control"
									style="width: 90px"
								/>
								<span class="pt-md-2 ps-md-2"
									>m<sup>2</sup></span
								>
							</div>

							<div
								class="col-md-3 d-flex flex-row pt-md-2 pb-md-2 border border-dark"
							>
								<input
									type="number"
									name="superficie1"
									id="superficie1"
									min="1"
									class="form-control"
									style="width: 90px"
								/><span class="pt-md-2 ps-md-2"
									>m<sup>2</sup></span
								>
							</div>
						</div>
						<div class="row">
							<h3>
								<b>Ny maha-ari-fomba ny trano</b>
								<i>(Confort)</i>
							</h3>
							<div
								class="col-md-2 form-group form-check"
							>
								<div class="row">
									<div class="col-md-6">
										<label class="fw-normal" for="cuisine">
											<span class="fw-normal"
												>Cuisine</span
											>
										</label>
									</div>
									<div class="col-md-1 form-check">
										<input
											type="checkbox"
											name="cuisine"
											id="cuisine"
											formControlName="cuisine"
											class="form-check-input"
										/>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<label
											class="fw-normal"
											for="salle_eau"
										>
											<span class="fw-normal"
												>Salle d'eau</span
											>
										</label>
									</div>
									<div class="col-md-1 form-check">
										<input
											type="checkbox"
											name="salle_eau"
											id="salle_eau"
											formControlName="salleEau"
											class="form-check-input"
										/>
									</div>
								</div>
							</div>
							<div class="col-md-2 form-group form-check">
								<div class="row">
									<div class="col-md-7">
										<label class="fw-normal" for="fosse">
											<span class="fw-normal"
												>Fosse septique</span
											>
										</label>
									</div>
									<div class="col-md-1 form-check">
										<input
											type="checkbox"
											name="fosse"
											id="fosse"
											class="form-check-input"
											formControlName="septique"
										/>
									</div>
								</div>

								<div class="row">
									<div class="col-md-7">
										<label class="fw-normal" for="debarras">
											<span class="fw-normal"
												>D&eacute;barras</span
											>
										</label>
									</div>
									<div class="col-md-1 form-check">
										<input
											type="checkbox"
											name="debarras"
											id="debarras"
											class="form-check-input"
											formControlName="debaras"
										/>
									</div>
								</div>
							</div>
							<div class="col-md-2 form-group form-check">
								<div class="row">
									<div class="col-md-7">
										<label class="fw-normal" for="eau">
											<span class="fw-normal">Eau</span>
										</label>
									</div>
									<div class="col-md-1 form-check">
										<input
											type="checkbox"
											name="eau"
											id="eau"
											class="form-check-input"
											formControlName="eau1"
										/>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<label
											class="fw-normal"
											for="electricite"
										>
											<span class="fw-normal"
												>Electricit&eacute;</span
											>
										</label>
									</div>
									<div class="col-md-1 form-check">
										<input
											type="checkbox"
											name="electricite"
											id="electricite"
											class="form-check-input"
											formControlName="elec"
										/>
									</div>
								</div>
							</div>
							<div class="col-md-2 form-group">
								<div class="row">
									<div class="col-md-7">
										<label
											class="fw-normal"
											for="plancher_bois"
										>
											<span class="fw-normal"
												>Plancher en bois</span
											>
										</label>
									</div>
									<div class="col-md-1 form-check">
										<input
											type="checkbox"
											name="plancher_bois"
											id="plancher_bois"
											class="form-check-input"
											formControlName="plancherBois"
										/>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<label
											class="fw-normal"
											for="planchier_beton"
										>
											<span class="fw-normal"
												>Plancher en b&eacute;ton</span
											>
										</label>
									</div>
									<div class="col-md-1 form-check">
										<input
											type="checkbox"
											name="planchier_beton"
											id="planchier_beton"
											class="form-check-input"
											formControlName="plancherBeton"
										/>
									</div>
								</div>
							</div>

							<div class="col-md-2 form-group"></div>
						</div>
						<div class="row">
							<div
								class="col-md-3 pt-md-1"
								style="width: fit-content"
							>
								<h3>
									<b>Fampiasana ny trano </b>
									<i>(Affectation)</i>
								</h3>
							</div>
							<div class="col-md-2">
								<select
									name="affectation"
									id="affectation"
									formControlName="typeAffectationInput"
									class="form-select"
								>
									<option value="1">Service Public</option>
									<option value="2">Usage Scolaire</option>
									<option value="3">Sant&eacute;</option>
									<option value="4">Exercice de cultes</option>
									<option value="5" selected>
										Habitation
									</option>
									<option value="6">Commerce/bureau</option>
									<option value="7">
										Artisanat/Industrie
									</option>
									<option value="9">
										Autres
									</option>
								</select>
							</div>
							<div class="col-md-6">
								1. Service Public&nbsp;&nbsp; 2. Usage
								Scolaire&nbsp;&nbsp; 3. Sant&eacute;&nbsp;&nbsp;
								4. Exercice de cultes&nbsp;&nbsp; 5. Habitation
								<br />
								6. Commerce/Bureau &nbsp;&nbsp; 7.
								Artisanat/Industrie&nbsp;&nbsp; 9. Autres( )
							</div>
						</div>
					</div>
				</div>
				<div
					style="
						display: flex;
						flex-direction: row;
						position: relative;
						margin: 0 auto;
						align-items: center;
					"
					class="mt-md-2 mb-md-2 d-flex flex-row"
				>
					<mat-divider class="hrule me-md-2"></mat-divider>

					<button
						(click)="onAddNewForm()"
						style="font-size: 13px; color: #1da133"
						type="button"
						mat-raised-button
					>
						<mat-icon> add </mat-icon>
						Ampiana
					</button>
				</div>

				<div class="row d-flex justify-content-start mb-md-4">
					<div class="offset-md-1 col-md-1 me-md-4">
						<input
							id="simulerBtn"
							class="btn btn-success"
							type="submit"
							value="Vinavinaina"
							[disabled]="disabledSubmitBtn"
						/>
					</div>
					<div *ngIf="taxe !== 0" class="col-md-8">
						<mat-card>
							<mat-card-title
								>Ny tombana hofan-trano
								(Valeur locative)
							</mat-card-title>
							<mat-card-subtitle>
								{{ valeurLocative | number }} Ariary
							</mat-card-subtitle>

							<mat-card-title
								>Hetra IFPB (Imp&ocirc;t IFPB)
							</mat-card-title>
							<mat-card-subtitle>
								{{ taxeIfpb | number }} Ariary
							</mat-card-subtitle>

							<mat-card-title
								>Hetra ROM (Imp&ocirc;t ROM)</mat-card-title
							>
							<mat-card-subtitle>
								{{ taxeRom | number }} Ariary
							</mat-card-subtitle>

							<mat-card-title
								>Totalin'ny hetra (Montant
								total)</mat-card-title
							>
							<mat-card-subtitle>
								{{ taxe | number }} Ariary
							</mat-card-subtitle>
						</mat-card>
					</div>
				</div>
			</div>
		</form>
		<br />
	</div>
</div>
<div class="row">
	<div class="offset-md-11 col-md-1">
		<button
			onclick="window.scrollTo(0, 0);"
			style="font-size: 13px; background-color: #1b4984"
			type="button"
			mat-raised-button
		>
			<mat-icon style="color:white"> vertical_align_top </mat-icon>
		</button>
	</div>
</div>

<footer
	class="text-center"
	style="background-color: #1b4984; color: #eeee22; margin-top: 4em"
>
	<div class="foot text-center p-3 foot">
		© DoIT 2022, CALCULATEUR IMPOT 
	</div>
</footer>
